html,
body {
    /* height: 100%;
    width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/bg.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    margin: auto;
}

#poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header-container {
    border-radius: 0px !important;
}

#header-text {
    margin: 0 auto;
}

#generate-pokemon {
    top: 20%;
    left: 45%;
    width: 100px;
    height: 40px;
    position: absolute;

    border-radius: 40px;
    background-color: #004A7F;

    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 10px;



}

#delete-btn {
    position: absolute;
    left: 85%;
    display: none;
    margin-bottom: 5%;
}